html,
title{
  font-family: sans-serif;
  color:#FE938C;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
 body {
   font-family: sans-serif;
   color:#FE938C;
   background-color: #ffb5b5;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
 }
header{
  color: #9CAFB7;
  margin: auto;
  font-family: sans-serif;
  position: left;
}
 img {
   margin-bottom: 2rem;
   animation: bounce 2s;
   animation-iteration-count: infinite;
 }
.description-text{
  color:#9CAFB7;
}
 .app-name {
   color: #4281A4;
 }

 @keyframes bounce {
   0%,
   40% {
     transform: translateY(0rem);
   }
   50% {
     transform: translateY(-0.5rem);
   }
   60%,
   100% {
     transform: translateY(0rem);
   }
 }
 