html,
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

body {
  height: 100%;
  background-color: #ead2ac;
}
.container {
  padding-top: 70px;
  padding-left: 250px;
  padding-right: 20px;
  padding-bottom: 20px;
  min-height: 100%;
}

/* header */
img {
  max-width: 35%;
  margin-left: 35%;
  color: white;
}
h1 {
  max-width: 50%;
  max-height: 15%;
  margin-left: 35%;
  align-items: center;
  color: white;
}

/* sidebar */
.wrapper {
  display: flex;
  position: relative;
}
.sidebar {
  width: 200px;
  height: 100%;
  background:#e6b89c;
  color: white;
  padding: 30px 0;
  position: fixed;
}
.wrapper .sidebar h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
.wrapper .sidebar ul li {
  text-align: left;
  padding: 15px;
  padding-left: 45px;
  border-top: 2px solid #ead2ac;
  letter-spacing: 3px;
}
.nav-links a{
  color: white;
  text-decoration: none;
}

/* footer*/
.footer {
  display: flex;
  background: #4281a4;
  color: lightgray;
  height: 200px;
  position: relative;
  bottom: 0px;
  padding: 18px;
}
/* first section of footer */
.about-us {
  height: 175px;
  width: 33%
}
.about-us h2{
  text-decoration: none;
}
.about-txt{
  padding: 10px 0;
}

/* second section of footer */
.relevant-links {
  width: 33%;
  padding-left: 10px;
}
.footer .relevant-links .links {
  padding: 10px;  
}

/* third section of footer */
.contact {
  width: 33%;
  padding-left: 10px;
}
.contact-list {
  padding: 10px;
}
/* footer end*/
/* ///index end/// */

/* ---login page--- */
#login-page {
  margin: 0;
  padding: 0;
  background: url(seashore.jpg);
  background-repeat: no-repeat;
  background-size: contain cover;
  background-position: center;
}
/* ///login page end/// */

/* profile page */
