html {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#login-page {
  margin: 0;
  padding: 0;
  background: url(seashore.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
