html,
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
  align-items: center;
  min-height: 100vh;
}

body {
    background-image: url(green.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    width: 40%;
    height: 75%;
    padding: 2%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 1rem;
    border: 1px solid rgb(88, 96, 105); /* dunno if it looks uglier with it or not*/
    text-align: center;
    position: fixed;    /* only added to get edit button position to bottom left 
                        relative to page and not the entire screen*/
}

img {
    max-width: 35%;
    border-radius: 4%;
}
.page h1,
.page h2,
.page h4 {
    font-weight: 200;
    letter-spacing: 1px;
    margin: 1%;
    color: lightgray;
}

p{
    font-size: 100%;
    letter-spacing: 2px;
    color: lightgray;
    text-align: left;
}

.edit {
    cursor: pointer;
    background-color: transparent;
    color: lightgray;
    border: none;
    font-size: 5vh;
    position: absolute;
    right: 0;
    bottom: 0;
}
.back {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 7vh;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    color: lightgray;
}

a {
    color: rgb(152, 156, 160);
}